[Desktop Entry]
Type=Application
Name=Application Search
Name[ru]=Поиск приложений
Exec=hype-shell --launcher
Icon=system-search
Terminal=false
Categories=Utility;
NoDisplay=true
StartupWMClass=dev.hypede.Launcher
