[Desktop Entry]
Type=Application
Name=Files
Name[ru]=Файлы
Comment=Browse and open files
Comment[ru]=Просмотр и открытие файлов
Exec=hype-files %U
Icon=dev.hypede.Files
Terminal=false
Categories=System;FileTools;FileManager;GTK;
Keywords=files;folder;manager;
Keywords[ru]=файлы;папки;менеджер;проводник;
StartupNotify=true
StartupWMClass=dev.hypede.Files
MimeType=inode/directory;
